[package]
name = "ntex-app"
description = "An example for ntex integration."
version = "0.8.1"
edition = { workspace = true }
rust-version = { workspace = true }
publish = { workspace = true }

[dependencies]
ntex = { version = "2.12.4", default-features = false }
serde = { workspace = true }
tracing = { workspace = true }
zino-core = { workspace = true, features = ["env-filter"] }
zino-derive = { workspace = true }
zino-model = { workspace = true }
zino-orm = { workspace = true, features = ["orm-postgres"] }

[dependencies.zino]
workspace = true
features = [
    "cookie",
    "i18n",
    "jwt",
    "ntex",
    "orm",
    "view",
]
