[package]
name = "zino"
description = "Next-generation framework for composable applications in Rust."
version = "0.16.5"
rust-version = "1.73"
edition = "2021"
license = "MIT"
categories = ["asynchronous", "network-programming", "web-programming::http-server"]
keywords = ["http", "web", "framework"]
homepage = "https://github.com/photino/zino"
repository = "https://github.com/photino/zino"
documentation = "https://docs.rs/zino"
readme = "README.md"

[package.metadata.docs.rs]
features = ["axum"]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

[features]
actix = [
    "dep:actix-cors",
    "dep:actix-files",
    "dep:actix-web",
    "dep:futures",
    "dep:tracing-actix-web",
    "utoipa/actix_extras",
    "utoipa-rapidoc/actix-web",
    "zino-core/runtime-tokio",
]
axum = [
    "dep:async-trait",
    "dep:axum",
    "dep:bytes",
    "dep:futures",
    "dep:parking_lot",
    "dep:tokio",
    "dep:tokio-stream",
    "dep:tower",
    "dep:tower-http",
    "utoipa/axum_extras",
    "utoipa-rapidoc/axum",
    "zino-core/runtime-tokio",
]
dioxus = [
    "dep:dioxus",
    "dep:tokio",
    "dioxus-router",
]
dioxus-desktop = [
    "dep:dioxus-desktop",
    "dep:image",
    "dioxus",
]
default = ["orm", "view"]
orm = ["zino-core/orm"]
view = ["zino-core/view"]

[dependencies]
cfg-if = "1.0"
serde_json = "1.0.108"
tracing = "0.1.40"

[dependencies.actix-cors]
version = "0.6.5"
optional = true

[dependencies.actix-files]
version = "0.6.2"
optional = true

[dependencies.actix-web]
version = "4.4.1"
optional = true
default-features = false
features = [
    "compress-brotli",
    "compress-gzip",
    "cookies",
    "http2",
    "secure-cookies",
]

[dependencies.async-trait]
version = "0.1.75"
optional = true

[dependencies.axum]
version = "0.6.20"
optional = true
default-features = false
features = [
    "http2",
    "matched-path",
    "original-uri",
    "query",
    "tokio",
    "tracing",
    "ws",
]

[dependencies.bytes]
version = "1.5.0"
optional = true

[dependencies.dioxus]
version = "0.4.3"
optional = true

[dependencies.dioxus-desktop]
version = "0.4.3"
optional = true

[dependencies.dioxus-router]
version = "0.4.3"
optional = true

[dependencies.futures]
version = "0.3.30"
optional = true

[dependencies.image]
version = "0.24.7"
optional = true

[dependencies.parking_lot]
version = "0.12.1"
optional = true

[dependencies.tokio]
version = "1.35.1"
optional = true
features = [
    "macros",
    "parking_lot",
    "rt-multi-thread",
    "signal",
]

[dependencies.tokio-stream]
version = "0.1.14"
optional = true
features = ["sync"]

[dependencies.tower]
version = "0.4.13"
optional = true
features = ["timeout"]

[dependencies.tower-http]
version = "0.4.4"
optional = true
features = [
    "add-extension",
    "compression-br",
    "compression-gzip",
    "cors",
    "decompression-br",
    "decompression-gzip",
    "fs",
    "trace",
]

[dependencies.tracing-actix-web]
version = "0.7.9"
optional = true
features = ["opentelemetry_0_21"]

[dependencies.utoipa]
version = "4.1.0"
optional = true

[dependencies.utoipa-rapidoc]
version = "1.0.0"
optional = true

[dependencies.zino-core]
path = "../zino-core"
version = "0.17.4"
